.glassy {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(19px);
  font-weight: 400;
  padding: --spacing(4) --spacing(5);
  overflow: hidden;
  border-radius: var(--radius-base);

  &.rounded-lg {
    border-radius: var(--radius-lg);
  }
}
