.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: --spacing(3);
  align-self: stretch;

  li {
    color: var(--color-dark);
    overflow: hidden;
    font-feature-settings:
      'liga' off,
      'clig' off;
    text-overflow: ellipsis;
    font-family: Unbounded;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.43px;
    padding: --spacing(3) --spacing(5);
    backdrop-filter: blur(2px);
  }

  &.list--dark {
    max-width: 270px;
    width: 100%;
    align-items: stretch;
    align-self: center;

    li {
      display: flex;
      justify-content: space-between;
      color: var(--color-white);
      font-family: var(--font-base);
      backdrop-filter: blur(19px);
      border-radius: var(--radius-base);
    }
  }
}

.list.list--brands {
  display: flex;
  flex-direction: row;
  gap: --spacing(4);
  min-width: 100%;

  li {
    flex-shrink: 0;
  }
}
