.header {
  max-width: var(--mw-container);
  margin-inline: auto;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  display: flex;
  height: 46px;
  padding: 16px 19px;
  align-items: center;
  gap: 1px;
  border-radius: 34px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19px);
}
